<template>



   <div class="">
       <article class="panel is-info">
           <p class="panel-heading">
               Chat
           </p>
           <div style="height:300px; overflow-y:scroll" v-chat-scroll>
               <div class="panel-block" v-for="(message, index) in messages" :key="index" >
                   <strong style="margin-right: 10px;">{{ message.user.name }}</strong>
                   {{ message.message }}
               </div>

           </div>

           <div class="panel-block">
               <p class="control">
                   <input @keydown="sendTypingEvent"
                          @keyup.enter="sendMessage"
                          v-model="newMessage"
                          type="text"
                          name="message"
                          class="input is-info"
                          placeholder="Type here">
               </p>
           </div>

           <div class="panel-block" :style="{visibility: activeUser ? 'visible' : 'hidden'}">
               <span class="has-text-grey is-size-7"  >{{ activeUser.name }} is typing...</span>
           </div>
       </article>

       <div class="box">
           <span class="tag" v-for="(user, index) in users" :key="index" style="margin-right: 5px;">
                {{ user.name }}
            </span>
       </div>

   </div>
</template>

<script>
    export default {

        props:['user'],

        data() {
            return {
                messages: [],
                newMessage: '',
                users:[],
                activeUser: false,
                typingTimer: false,
            }
        },

        created() {
            this.fetchMessages();

            Echo.join('chat')
                .here(user => {
                    this.users = user;
                })
                .joining(user => {
                    this.users.push(user);
                })
                .leaving(user => {
                    this.users = this.users.filter(u => u.id != user.id);
                })
                .listen('MessageSent',(event) => {
                    this.messages.push(event.message);
                })
                .listenForWhisper('typing', user => {
                   this.activeUser = user;

                    if(this.typingTimer) {
                        clearTimeout(this.typingTimer);
                    }

                   this.typingTimer = setTimeout(() => {
                       this.activeUser = false;
                   }, 3000);
                })

        },

        methods: {
            fetchMessages() {
                axios.get('messages').then(response => {
                    this.messages = response.data.reverse();
                })
            },

            sendMessage() {

                this.messages.push({
                    user: this.user,
                    message: this.newMessage
                });

                axios.post('messages', {message: this.newMessage});

                this.newMessage = '';
            },

            sendTypingEvent() {
                Echo.join('chat')
                    .whisper('typing', this.user);
            }
        }
    }
</script>
